{% include "header.html" %}
<div id="main">
    <div class="inner">
        <h1>Level 1 Catalogue</h1>
        <h2>Maths</h2>
        <div class="scrolling-wrapper" style="overflow-x: scroll; overflow-y: hidden; white-space: nowrap;">
          <section class="tiles" style="flex-wrap: nowrap; display: noflex;">
            <article class="style1">
                <span class="image">
                    <img  width="200" height="300" src="static/images/pic01.jpg" alt="" />
                </span>
                <a href="{{ url_for('home') }}">
                    <h2>Book1</h2>
                    <div class="content">
                        </div>
                </a>

            </article>
              <article class="style1">
                <span class="image">
                    <img  width="200" height="300" src="static/images/pic01.jpg" alt="" />
                </span>
                <a href="{{ url_for('home') }}">
                    <h2>Book1</h2>
                    <div class="content">
                        </div>
                </a>

            </article>
              <article class="style1">
                <span class="image">
                    <img  width="200" height="300" src="static/images/pic01.jpg" alt="" />
                </span>
                <a href="{{ url_for('home') }}">
                    <h2>Book1</h2>
                    <div class="content">
                        </div>
                </a>
                  </article>

          </section>
        </div>
<br><br>
        <h2>Science</h2>
        <div class="scrolling-wrapper" style="overflow-x: scroll; overflow-y: hidden; white-space: nowrap;">
          <section class="tiles" style="flex-wrap: nowrap; display: noflex;">
            <article class="style1">
                <span class="image">
                    <img  width="200" height="300" src="static/images/pic01.jpg" alt="" />
                </span>
                <a href="{{ url_for('home') }}">
                    <h2>Book1</h2>
                    <div class="content">
                        </div>
                </a>

            </article>
              <article class="style1">
                <span class="image">
                    <img  width="200" height="300" src="static/images/pic01.jpg" alt="" />
                </span>
                <a href="{{ url_for('home') }}">
                    <h2>Book1</h2>
                    <div class="content">
                        </div>
                </a>

            </article>
              <article class="style1">
                <span class="image">
                    <img  width="200" height="300" src="static/images/pic01.jpg" alt="" />
                </span>
                <a href="{{ url_for('home') }}">
                    <h2>Book1</h2>
                    <div class="content">
                        </div>
                </a>
                  </article>

          </section>
        </div>


    </div>
</div>


{% include "footer.html" %}