{% include "header.html" %}

<div id="main">
						<div class="inner">
							<header>
								<h1>My Students</h1>
								<p> </p>
							</header>
							<section class="tiles">
								<article class="style1">
									<span class="image">
										<img  width="200" height="300" src="static/images/pic01.jpg" alt="" />
									</span>
									<a href="{{ url_for('view_students') }}">
										<h2>View Student Details</h2>
										<div class="content">
											</div>
									</a>
								</article>
								<article class="style2">
									<span class="image">
										<img  width="200" height="300" src="static/images/pic02.jpg" alt="" />
									</span>
									<a href="generic.html">
										<h2>Add Student</h2>
										<div class="content">

										</div>
									</a>
								</article>
								<article class="style3">
									<span class="image">
										<img  width="200" height="300"  src="static/images/pic03.jpg" alt="" />
									</span>
									<a href="generic.html">
										<h2>Books</h2>
										<div class="content">

										</div>
									</a>
								</article>

							</section>
						</div>
					</div>

{% include "footer.html" %}